/* CarRental.css */
.app-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
  }
  
  .app-bar h1 {
    margin: 0;
    font-size: 25px;
  }
  
  .app-bar button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .card-container {
    display: flex;
    overflow-x: auto;
    padding: 1px;
    gap: 1px; 
  }
  
  .card {
    min-width: 300px;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 1px;
    overflow: hidden;
    text-align: center;
  }
  
  .card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  /* Styling for the stars */
.star {
  color: green;    /* Star color */
  font-size: 20px;  /* Increased star size */
  margin-right: 3px; /* Spacing between stars */
}

/* Styling for empty stars */
.star.empty {
  color: lightgray; /* Color for empty stars */
}

/* Card container styling */
.card-container {
  display: flex;
  //flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
}

/* Card styling */
.card {
  display: block;
  width: 300px;
  text-align: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-decoration: none; /* No underline */
  color: black; /* Ensure text is black */
}

.card img {
  width: 100%;
  height: 200px;
 // object-fit: cover;
  border-radius: 5px;
}

/* Hover and click effect */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card:active {
  transform: translateY(5px); /* Move the card slightly down when clicked */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Rating container */
.rating {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
 .location {
  font-size: 14px;        /* Adjust the size of the font */
  color: #555;            /* Color of the location text */
  //margin: 5px 0;         /* Margin to space it above and below */
 // display: flex;          /* Use flexbox for alignment */
  align-items: center;    /* Center items vertically */
} 


  